@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

body {
  margin: 0;
}

.container {
  display: grid;

  grid-template-areas: 
    "header header header header header"
    "nav nav nav nav nav";

  grid-template-columns: repeat(3, auto) repeat(2, .5fr);
  grid-template-rows: repeat(2, 1fr);

  padding: 10px;
  background-color: #000000;
}

.header {
  display: flex;
  gap: .2fr;

  align-items: center;
  justify-content: space-between;

  grid-area: header;
}

button {
  background: none;
  border: none;
}

button > img{
    width: 15px;
    height: auto;
}

.nav {
}
